{% extends 'base.html.twig' %}

{% block title %}Edit Electricite{% endblock %}

{% block body %}
    <style>
        .enregistrebtn {
            position: absolute;
            margin-left: 530px;
        }
    </style>
<div class="container mt-5">
    <h1>Edit Electricite</h1>
    <div class="update mt-4">

        <a class="btn btn-success" href="{{ path('electricite_index') }}" style="margin-left: 15px">Retour à liste</a>
        <div style="margin: 20px">
        {{ include('electricite/_form.html.twig', {'button_label': 'Editer'}) }}
        </div>
    </div>
</div>
{% endblock %}
