<html>
    <head>
        <style>
        </style>
    </head>
</body>
    <p>Votre autorisation à bien était prise en compte et nous vous en remercions.
    Une copie de cette autorisation, vient de vous être transmise par mail
    </p>
</body>
</html>