<html>
    <head>
        <style>
        .logos{
            text-align: center;
            background-color: #F2F3F4;
        }
        .footer {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            background-color: #F2F3F4;
            color: black;
            text-align: center;
        }
        p:hover {
        background-color: #ADFF2F;
        }
        </style>
    </head>
</body>
    <div class="logos">
      <a href="#">
        <img src="{{ asset('image/logo2.png') }}" style="width: 50%;
    height: 57%;">
      </a>
    </div>
    {%  if isHasMailSend %}
    <fieldset style="text-align: center; background-color: #F2F3F4;
            margin: 200px auto;
            padding-left: 5px;
            width:70%;">
        <h3>Votre autorisation à bien était prise en compte et nous vous en remercions.
            Une copie de cette autorisation, vient de vous être transmise par mail</h3>
    </fieldset>
        {% else %}
            <fieldset style="text-align: center; background-color: #F2F3F4;
            margin: 200px auto;
            padding-left: 5px;
            width:70%;">
                <h3>Votre autorisation à était déjà prise en compte et nous vous en remercions.
                    Une copie de cette autorisation a été déjà transmise par mail</h3>
            </fieldset>
    {% endif %}

    <div class="footer">
        <p>Au revoir merci</p>
    </div>
</body>
</html>