<form method="post" action="{{ path('gaz_delete', {'id': gaz.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ gaz.id) }}">
    <button class="btn btn-danger" style="margin: 3px;width: 88px;height: 41px;">Supprimer</button>
</form>
