{% extends 'base.html.twig' %}

{% block title %}page non trouvée{% endblock %}

{% block body %}
    <div class="container mt-4">
       <h1>Alors? Vous essayer de bousiller le site</h1>
        <div class="row justify-content-md-center">
            <div class="alert alert-danger col-6">
                <p>Vous n'avez pas le droit d'accéder a cette ressource !</p>
            </div>
        <div>
        <div class="row justify-content-md-center">
            <a href="#" class="btn btn-primary col-md-12">Accuel</a>
        </div>
    </div>
{% endblock %}